h1 {
    color:rgb(0, 0, 0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
}
nav {
    position:fixed;
    top:0;
    width:100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:21px;
    transform: translateY(10px);
    margin-top:0px;
}
video {
    transform: translateY(15px);
}
#welcome {
    background-color:rgb(32, 32, 32);
}
a:hover {
    font-size:25px;
}
#pounamu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:250px;
}
.centered {
    position: absolute;
    top: 128%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .centered2 {
    position: absolute;
    top: 470%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  #Louise {
    border-radius:200px;
    height:250px;
    width:250px;
    margin-top:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #Sera {
    border-radius:200px;
    height:250px;
    width:250px;
    margin-top:50px;
    display: block;
    margin-right:auto;
    margin-left:auto;


  }
  #Caitlin {
    border-radius:200px;
    height:250px;
    width:250px;
    margin-top:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #Neal {
    border-radius:200px;
    height:250px;
    width:250px;
    margin-top:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    text-align:center;
    margin-bottom:15px;
    margin-top:10px;
    color:black;
  }
.row {
  display:inline-block;
}
.row2 {
  display:inline-block;
}
#Me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height:250px;
}
body {
  text-align:center;
}
#btn2 {
  margin-top:15px;
}
#btn3 {
  margin-top:15px;
}
#btn4 {
  margin-top:15px;
}
#img1 {
  width:350px;
}
#img12 {
  width:310px;
}
#img2 {
  width:325px;
}
#img22 {
  width:350px;
}
#img3 {
  width:350px;
}
#img32 {
  width:350px;
}
#img42 {
  width:400px;
}
#img4 {
  width:450px;
}
#btn1 {
  margin-top:15px;
}